<!-- productos/templates/inicio.html -->
{% extends 'base.html' %}

{% block title %}Inicio - Sistema de Gestión de Productos{% endblock %}

{% block header %}
    <h2>Bienvenido al Sistema de Gestión de Productos</h2>
{% endblock %}

{% block content %}
    <article>
        <h2>¿Por qué lo usamos?</h2>
        <p>¡Bienvenido al Sistema de Gestión de Productos! Este es un espacio diseñado para facilitar y optimizar la administración de tus productos. Aquí podrás realizar un seguimiento detallado de tus inventarios, gestionar la entrada y salida de productos, y tener un control preciso sobre las ventas y las compras. Nuestro sistema también te permite categorizar tus productos, lo que facilita la búsqueda y la organización de los mismos. Además, con nuestro sistema de reportes, podrás obtener información valiosa para la toma de decisiones. ¡Estamos emocionados de que te unas a nosotros y descubras cómo nuestro Sistema de Gestión de Productos puede impulsar tu negocio!
    </article>
    <aside>
        <!-- Espacio reservado para contenido adicional -->
        Banner
    </aside>
{% endblock %}
